body {
  background-color: #212121;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
  font-family: 'Roboto Regular';
  text-align: center;
  color: #FFFFFF;
}
a.invlink {
  font-family: 'Roboto Medium';
  font-size: 20px;
  color: #FABB2D;
}
div.invite {
  position: absolute;
  left: 50%;
  top: 75%;
  margin-left: -172px;
  background-color: #323232;
  border-radius: 2px;
  padding: 16px;
  width: 344px;
}
p.footnote {
  color: #bdbdbd;
  font-family: 'Roboto Regular';
  font-size: 14px;
  position: absolute;
  top: 96%;
}
