body {
  background-color: #212121;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
  font-family: 'Roboto Medium';
  text-align: center;
  foreground: #FFFFFF;
}
