.headerfraMe {
  height: 168;
  background-color: #2196f3;
}

.headerCompact {
  height: 56;
  background-color: #2196f3
}

.title {
  font-family: "Roboto";
  font-size: 20;
  margin-left: 16;
  margin-bottom:20;
  color: white;
}
